@import '../../scss/vars';

.label {
  font-weight: 500;
  line-height: $lh3;
  letter-spacing: $ls1;
  color: $color-gray-600;
  margin-bottom: $space4;
  text-transform: uppercase;
  display: block;
}
