/* Color */

.white {
  color: $color-white;
}

.red {
  color: $color-red;
}

.blue-300 {
  color: $color-blue-300;
}

.blue-500 {
  color: $color-blue-500;
}

.gray-100 {
  color: $color-gray-100;
}

.gray-300 {
  color: $color-gray-300;
}

.gray-600 {
  color: $color-gray-600;
}

.gray-800 {
  color: $color-gray-800;
}

/* Font size  */

.fs1 {
  font-size: $fs1;
}

.fs2 {
  font-size: $fs2;
}

.fs3 {
  font-size: $fs3;
}

.fs4 {
  font-size: $fs4;
}

.fs5 {
  font-size: $fs5;
}

@media only screen and (min-width: $breakpoint) {
  .m_fs1 {
    font-size: $fs1;
  }

  .m_fs2 {
    font-size: $fs2;
  }

  .m_fs3 {
    font-size: $fs3;
  }

  .m_fs4 {
    font-size: $fs4;
  }

  .m_fs5 {
    font-size: $fs5;
  }
}

/* Font weight  */

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

/* Line height */

.lh1 {
  line-height: $lh1;
}

.lh2 {
  line-height: $lh2;
}

.lh3 {
  line-height: $lh3;
}

.lh4 {
  line-height: $lh4;
}

/* Letter spacing */

.ls1 {
  letter-spacing: $ls1;
}

/* Text transform */

.ttu {
  text-transform: uppercase;
}

/* Text align */

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

/* Display */

.db {
  display: block;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}

/* Padding */

.pa0 {
  padding: 0;
}

.pa1 {
  padding: $space1;
}

.pa2 {
  padding: $space2;
}

.pa3 {
  padding: $space3;
}

.pa4 {
  padding: $space4;
}

.pa5 {
  padding: $space5;
}

.pa6 {
  padding: $space6;
}

.pa7 {
  padding: $space7;
}

.pa8 {
  padding: $space8;
}

.pa9 {
  padding: $space9;
}

.pa10 {
  padding: $space10;
}

.pa11 {
  padding: $space11;
}

.pl0 {
  padding-left: 0;
}

.pl1 {
  padding-left: $space1;
}

.pl2 {
  padding-left: $space2;
}

.pl3 {
  padding-left: $space3;
}

.pl4 {
  padding-left: $space4;
}

.pl5 {
  padding-left: $space5;
}

.pl6 {
  padding-left: $space6;
}

.pl7 {
  padding-left: $space7;
}

.pl8 {
  padding-left: $space8;
}

.pl9 {
  padding-left: $space9;
}

.pl10 {
  padding-left: $space10;
}

.pl11 {
  padding-left: $space11;
}

.pr0 {
  padding-right: 0;
}

.pr1 {
  padding-right: $space1;
}

.pr2 {
  padding-right: $space2;
}

.pr3 {
  padding-right: $space3;
}

.pr4 {
  padding-right: $space4;
}

.pr5 {
  padding-right: $space5;
}

.pr6 {
  padding-right: $space6;
}

.pr7 {
  padding-right: $space7;
}

.pr8 {
  padding-right: $space8;
}

.pr9 {
  padding-right: $space9;
}

.pr10 {
  padding-right: $space10;
}

.pr11 {
  padding-right: $space11;
}

.pb0 {
  padding-bottom: 0;
}

.pb1 {
  padding-bottom: $space1;
}

.pb2 {
  padding-bottom: $space2;
}

.pb3 {
  padding-bottom: $space3;
}

.pb4 {
  padding-bottom: $space4;
}

.pb5 {
  padding-bottom: $space5;
}

.pb6 {
  padding-bottom: $space6;
}

.pb7 {
  padding-bottom: $space7;
}

.pb8 {
  padding-bottom: $space8;
}

.pb9 {
  padding-bottom: $space9;
}

.pb10 {
  padding-bottom: $space10;
}

.pb11 {
  padding-bottom: $space11;
}

.pt0 {
  padding-top: 0;
}

.pt1 {
  padding-top: $space1;
}

.pt2 {
  padding-top: $space2;
}

.pt3 {
  padding-top: $space3;
}

.pt4 {
  padding-top: $space4;
}

.pt5 {
  padding-top: $space5;
}

.pt6 {
  padding-top: $space6;
}

.pt7 {
  padding-top: $space7;
}

.pt8 {
  padding-top: $space8;
}

.pt9 {
  padding-top: $space9;
}

.pt10 {
  padding-top: $space10;
}

.pt11 {
  padding-top: $space11;
}

.pv0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pv1 {
  padding-top: $space1;
  padding-bottom: $space1;
}

.pv2 {
  padding-top: $space2;
  padding-bottom: $space2;
}

.pv3 {
  padding-top: $space3;
  padding-bottom: $space3;
}

.pv4 {
  padding-top: $space4;
  padding-bottom: $space4;
}

.pv5 {
  padding-top: $space5;
  padding-bottom: $space5;
}

.pv6 {
  padding-top: $space6;
  padding-bottom: $space6;
}

.pv7 {
  padding-top: $space7;
  padding-bottom: $space7;
}

.pv8 {
  padding-top: $space8;
  padding-bottom: $space8;
}

.pv9 {
  padding-top: $space9;
  padding-bottom: $space9;
}

.pv10 {
  padding-top: $space10;
  padding-bottom: $space10;
}

.pv11 {
  padding-top: $space11;
  padding-bottom: $space11;
}

.ph0 {
  padding-left: 0;
  padding-right: 0;
}

.ph1 {
  padding-left: $space1;
  padding-right: $space1;
}

.ph2 {
  padding-left: $space2;
  padding-right: $space2;
}

.ph3 {
  padding-left: $space3;
  padding-right: $space3;
}

.ph4 {
  padding-left: $space4;
  padding-right: $space4;
}

.ph5 {
  padding-left: $space5;
  padding-right: $space5;
}

.ph6 {
  padding-left: $space6;
  padding-right: $space6;
}

.ph7 {
  padding-left: $space7;
  padding-right: $space7;
}

.ph8 {
  padding-left: $space8;
  padding-right: $space8;
}

.pv9 {
  padding-left: $space9;
  padding-right: $space9;
}

.pv10 {
  padding-left: $space10;
  padding-right: $space10;
}

.pv11 {
  padding-top: $space11;
  padding-right: $space11;
}

@media only screen and (min-width: $breakpoint) {
  .m_pa0 {
    padding: 0;
  }

  .m_pa1 {
    padding: $space1;
  }

  .m_pa2 {
    padding: $space2;
  }

  .m_pa3 {
    padding: $space3;
  }

  .m_pa4 {
    padding: $space4;
  }

  .m_pa5 {
    padding: $space5;
  }

  .m_pa6 {
    padding: $space6;
  }

  .m_pa7 {
    padding: $space7;
  }

  .m_pa8 {
    padding: $space8;
  }

  .m_pa9 {
    padding: $space9;
  }

  .m_pa10 {
    padding: $space10;
  }

  .m_pa11 {
    padding: $space11;
  }

  .m_pl0 {
    padding-left: 0;
  }

  .m_pl1 {
    padding-left: $space1;
  }

  .m_pl2 {
    padding-left: $space2;
  }

  .m_pl3 {
    padding-left: $space3;
  }

  .m_pl4 {
    padding-left: $space4;
  }

  .m_pl5 {
    padding-left: $space5;
  }

  .m_pl6 {
    padding-left: $space6;
  }

  .m_pl7 {
    padding-left: $space7;
  }

  .m_pl8 {
    padding-left: $space8;
  }

  .m_pl9 {
    padding-left: $space9;
  }

  .m_pl10 {
    padding-left: $space10;
  }

  .m_pl11 {
    padding-left: $space11;
  }

  .m_pr0 {
    padding-right: 0;
  }

  .m_pr1 {
    padding-right: $space1;
  }

  .m_pr2 {
    padding-right: $space2;
  }

  .m_pr3 {
    padding-right: $space3;
  }

  .m_pr4 {
    padding-right: $space4;
  }

  .m_pr5 {
    padding-right: $space5;
  }

  .m_pr6 {
    padding-right: $space6;
  }

  .m_pr7 {
    padding-right: $space7;
  }

  .m_pr8 {
    padding-right: $space8;
  }

  .m_pr9 {
    padding-right: $space9;
  }

  .m_pr10 {
    padding-right: $space10;
  }

  .m_pr11 {
    padding-right: $space11;
  }

  .m_pb0 {
    padding-bottom: 0;
  }

  .m_pb1 {
    padding-bottom: $space1;
  }

  .m_pb2 {
    padding-bottom: $space2;
  }

  .m_pb3 {
    padding-bottom: $space3;
  }

  .m_pb4 {
    padding-bottom: $space4;
  }

  .m_pb5 {
    padding-bottom: $space5;
  }

  .m_pb6 {
    padding-bottom: $space6;
  }

  .m_pb7 {
    padding-bottom: $space7;
  }

  .m_pb8 {
    padding-bottom: $space8;
  }

  .m_pb9 {
    padding-bottom: $space9;
  }

  .m_pb10 {
    padding-bottom: $space10;
  }

  .m_pb11 {
    padding-bottom: $space11;
  }

  .m_pt0 {
    padding-top: 0;
  }

  .m_pt1 {
    padding-top: $space1;
  }

  .m_pt2 {
    padding-top: $space2;
  }

  .m_pt3 {
    padding-top: $space3;
  }

  .m_pt4 {
    padding-top: $space4;
  }

  .m_pt5 {
    padding-top: $space5;
  }

  .m_pt6 {
    padding-top: $space6;
  }

  .m_pt7 {
    padding-top: $space7;
  }

  .m_pt8 {
    padding-top: $space8;
  }

  .m_pt9 {
    padding-top: $space9;
  }

  .m_pt10 {
    padding-top: $space10;
  }

  .m_pt11 {
    padding-top: $space11;
  }

  .m_pv0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .m_pv1 {
    padding-top: $space1;
    padding-bottom: $space1;
  }

  .m_pv2 {
    padding-top: $space2;
    padding-bottom: $space2;
  }

  .m_pv3 {
    padding-top: $space3;
    padding-bottom: $space3;
  }

  .m_pv4 {
    padding-top: $space4;
    padding-bottom: $space4;
  }

  .m_pv5 {
    padding-top: $space5;
    padding-bottom: $space5;
  }

  .m_pv6 {
    padding-top: $space6;
    padding-bottom: $space6;
  }

  .m_pv7 {
    padding-top: $space7;
    padding-bottom: $space7;
  }

  .m_pv8 {
    padding-top: $space8;
    padding-bottom: $space8;
  }

  .m_pv9 {
    padding-top: $space9;
    padding-bottom: $space9;
  }

  .m_pv10 {
    padding-top: $space10;
    padding-bottom: $space10;
  }

  .m_pv11 {
    padding-top: $space11;
    padding-bottom: $space11;
  }

  .m_ph0 {
    padding-left: 0;
    padding-right: 0;
  }

  .m_ph1 {
    padding-left: $space1;
    padding-right: $space1;
  }

  .m_ph2 {
    padding-left: $space2;
    padding-right: $space2;
  }

  .m_ph3 {
    padding-left: $space3;
    padding-right: $space3;
  }

  .m_ph4 {
    padding-left: $space4;
    padding-right: $space4;
  }

  .m_ph5 {
    padding-left: $space5;
    padding-right: $space5;
  }

  .m_ph6 {
    padding-left: $space6;
    padding-right: $space6;
  }

  .m_ph7 {
    padding-left: $space7;
    padding-right: $space7;
  }

  .m_ph8 {
    padding-left: $space8;
    padding-right: $space8;
  }

  .m_pv9 {
    padding-left: $space9;
    padding-right: $space9;
  }

  .m_pv10 {
    padding-left: $space10;
    padding-right: $space10;
  }

  .m_pv11 {
    padding-top: $space11;
    padding-right: $space11;
  }
}

/* Margin */

.ma0 {
  margin: 0;
}

.ma1 {
  margin: $space1;
}

.ma2 {
  margin: $space2;
}

.ma3 {
  margin: $space3;
}

.ma4 {
  margin: $space4;
}

.ma5 {
  margin: $space5;
}

.ma6 {
  margin: $space6;
}

.ma7 {
  margin: $space7;
}

.ma8 {
  margin: $space8;
}

.ma9 {
  margin: $space9;
}

.ma10 {
  margin: $space10;
}

.ma11 {
  margin: $space11;
}

.ml0 {
  margin-left: 0;
}

.ml1 {
  margin-left: $space1;
}

.ml2 {
  margin-left: $space2;
}

.ml3 {
  margin-left: $space3;
}

.ml4 {
  margin-left: $space4;
}

.ml5 {
  margin-left: $space5;
}

.ml6 {
  margin-left: $space6;
}

.ml7 {
  margin-left: $space7;
}

.ml8 {
  margin-left: $space8;
}

.ml9 {
  margin-left: $space9;
}

.ml10 {
  margin-left: $space10;
}

.ml11 {
  margin-left: $space11;
}

.mr0 {
  margin-right: 0;
}

.mr1 {
  margin-right: $space1;
}

.mr2 {
  margin-right: $space2;
}

.mr3 {
  margin-right: $space3;
}

.mr4 {
  margin-right: $space4;
}

.mr5 {
  margin-right: $space5;
}

.mr6 {
  margin-right: $space6;
}

.mr7 {
  margin-right: $space7;
}

.mr8 {
  margin-right: $space8;
}

.mr9 {
  margin-right: $space9;
}

.mr10 {
  margin-right: $space10;
}

.mr11 {
  margin-right: $space11;
}

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: $space1;
}

.mb2 {
  margin-bottom: $space2;
}

.mb3 {
  margin-bottom: $space3;
}

.mb4 {
  margin-bottom: $space4;
}

.mb5 {
  margin-bottom: $space5;
}

.mb6 {
  margin-bottom: $space6;
}

.mb7 {
  margin-bottom: $space7;
}

.mb8 {
  margin-bottom: $space8;
}

.mb9 {
  margin-bottom: $space9;
}

.mb10 {
  margin-bottom: $space10;
}

.mb11 {
  margin-bottom: $space11;
}

.mt0 {
  margin-top: 0;
}

.mt1 {
  margin-top: $space1;
}

.mt2 {
  margin-top: $space2;
}

.mt3 {
  margin-top: $space3;
}

.mt4 {
  margin-top: $space4;
}

.mt5 {
  margin-top: $space5;
}

.mt6 {
  margin-top: $space6;
}

.mt7 {
  margin-top: $space7;
}

.mt8 {
  margin-top: $space8;
}

.mt9 {
  margin-top: $space9;
}

.mt10 {
  margin-top: $space10;
}

.mt11 {
  margin-top: $space11;
}

.mv0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mv1 {
  margin-top: $space1;
  margin-bottom: $space1;
}

.mv2 {
  margin-top: $space2;
  margin-bottom: $space2;
}

.mv3 {
  margin-top: $space3;
  margin-bottom: $space3;
}

.mv4 {
  margin-top: $space4;
  margin-bottom: $space4;
}

.mv5 {
  margin-top: $space5;
  margin-bottom: $space5;
}

.mv6 {
  margin-top: $space6;
  margin-bottom: $space6;
}

.mv7 {
  margin-top: $space7;
  margin-bottom: $space7;
}

.mv8 {
  margin-top: $space8;
  margin-bottom: $space8;
}

.mv9 {
  margin-top: $space9;
  margin-bottom: $space9;
}

.mv10 {
  margin-top: $space10;
  margin-bottom: $space10;
}

.mv11 {
  margin-top: $space11;
  margin-bottom: $space11;
}

.mh0 {
  margin-left: 0;
  margin-right: 0;
}

.mh1 {
  margin-left: $space1;
  margin-right: $space1;
}

.mh2 {
  margin-left: $space2;
  margin-right: $space2;
}

.mh3 {
  margin-left: $space3;
  margin-right: $space3;
}

.mh4 {
  margin-left: $space4;
  margin-right: $space4;
}

.mh5 {
  margin-left: $space5;
  margin-right: $space5;
}

.mh6 {
  margin-left: $space6;
  margin-right: $space6;
}

.mh7 {
  margin-left: $space7;
  margin-right: $space7;
}

.mh8 {
  margin-left: $space8;
  margin-right: $space8;
}

.mv9 {
  margin-left: $space9;
  margin-right: $space9;
}

.mv10 {
  margin-left: $space10;
  margin-right: $space10;
}

.mv11 {
  margin-top: $space11;
  margin-right: $space11;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/* Margin */

@media only screen and (min-width: $breakpoint) {
  .m_ma0 {
    margin: 0;
  }

  .m_ma1 {
    margin: $space1;
  }

  .m_ma2 {
    margin: $space2;
  }

  .m_ma3 {
    margin: $space3;
  }

  .m_ma4 {
    margin: $space4;
  }

  .m_ma5 {
    margin: $space5;
  }

  .m_ma6 {
    margin: $space6;
  }

  .m_ma7 {
    margin: $space7;
  }

  .m_ma8 {
    margin: $space8;
  }

  .m_ma9 {
    margin: $space9;
  }

  .m_ma10 {
    margin: $space10;
  }

  .m_ma11 {
    margin: $space11;
  }

  .m_ml0 {
    margin-left: 0;
  }

  .m_ml1 {
    margin-left: $space1;
  }

  .m_ml2 {
    margin-left: $space2;
  }

  .m_ml3 {
    margin-left: $space3;
  }

  .m_ml4 {
    margin-left: $space4;
  }

  .m_ml5 {
    margin-left: $space5;
  }

  .m_ml6 {
    margin-left: $space6;
  }

  .m_ml7 {
    margin-left: $space7;
  }

  .m_ml8 {
    margin-left: $space8;
  }

  .m_ml9 {
    margin-left: $space9;
  }

  .m_ml10 {
    margin-left: $space10;
  }

  .m_ml11 {
    margin-left: $space11;
  }

  .m_mr0 {
    margin-right: 0;
  }

  .m_mr1 {
    margin-right: $space1;
  }

  .m_mr2 {
    margin-right: $space2;
  }

  .m_mr3 {
    margin-right: $space3;
  }

  .m_mr4 {
    margin-right: $space4;
  }

  .m_mr5 {
    margin-right: $space5;
  }

  .m_mr6 {
    margin-right: $space6;
  }

  .m_mr7 {
    margin-right: $space7;
  }

  .m_mr8 {
    margin-right: $space8;
  }

  .m_mr9 {
    margin-right: $space9;
  }

  .m_mr10 {
    margin-right: $space10;
  }

  .m_mr11 {
    margin-right: $space11;
  }

  .m_mb0 {
    margin-bottom: 0;
  }

  .m_mb1 {
    margin-bottom: $space1;
  }

  .m_mb2 {
    margin-bottom: $space2;
  }

  .m_mb3 {
    margin-bottom: $space3;
  }

  .m_mb4 {
    margin-bottom: $space4;
  }

  .m_mb5 {
    margin-bottom: $space5;
  }

  .m_mb6 {
    margin-bottom: $space6;
  }

  .m_mb7 {
    margin-bottom: $space7;
  }

  .m_mb8 {
    margin-bottom: $space8;
  }

  .m_mb9 {
    margin-bottom: $space9;
  }

  .m_mb10 {
    margin-bottom: $space10;
  }

  .m_mb11 {
    margin-bottom: $space11;
  }

  .m_mt0 {
    margin-top: 0;
  }

  .m_mt1 {
    margin-top: $space1;
  }

  .m_mt2 {
    margin-top: $space2;
  }

  .m_mt3 {
    margin-top: $space3;
  }

  .m_mt4 {
    margin-top: $space4;
  }

  .m_mt5 {
    margin-top: $space5;
  }

  .m_mt6 {
    margin-top: $space6;
  }

  .m_mt7 {
    margin-top: $space7;
  }

  .m_mt8 {
    margin-top: $space8;
  }

  .m_mt9 {
    margin-top: $space9;
  }

  .m_mt10 {
    margin-top: $space10;
  }

  .m_mt11 {
    margin-top: $space11;
  }

  .m_mv0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .m_mv1 {
    margin-top: $space1;
    margin-bottom: $space1;
  }

  .m_mv2 {
    margin-top: $space2;
    margin-bottom: $space2;
  }

  .m_mv3 {
    margin-top: $space3;
    margin-bottom: $space3;
  }

  .m_mv4 {
    margin-top: $space4;
    margin-bottom: $space4;
  }

  .m_mv5 {
    margin-top: $space5;
    margin-bottom: $space5;
  }

  .m_mv6 {
    margin-top: $space6;
    margin-bottom: $space6;
  }

  .m_mv7 {
    margin-top: $space7;
    margin-bottom: $space7;
  }

  .m_mv8 {
    margin-top: $space8;
    margin-bottom: $space8;
  }

  .m_mv9 {
    margin-top: $space9;
    margin-bottom: $space9;
  }

  .m_mv10 {
    margin-top: $space10;
    margin-bottom: $space10;
  }

  .m_mv11 {
    margin-top: $space11;
    margin-bottom: $space11;
  }

  .m_mh0 {
    margin-left: 0;
    margin-right: 0;
  }

  .m_mh1 {
    margin-left: $space1;
    margin-right: $space1;
  }

  .m_mh2 {
    margin-left: $space2;
    margin-right: $space2;
  }

  .m_mh3 {
    margin-left: $space3;
    margin-right: $space3;
  }

  .m_mh4 {
    margin-left: $space4;
    margin-right: $space4;
  }

  .m_mh5 {
    margin-left: $space5;
    margin-right: $space5;
  }

  .m_mh6 {
    margin-left: $space6;
    margin-right: $space6;
  }

  .m_mh7 {
    margin-left: $space7;
    margin-right: $space7;
  }

  .m_mh8 {
    margin-left: $space8;
    margin-right: $space8;
  }

  .m_mv9 {
    margin-left: $space9;
    margin-right: $space9;
  }

  .m_mv10 {
    margin-left: $space10;
    margin-right: $space10;
  }

  .m_mv11 {
    margin-top: $space11;
    margin-right: $space11;
  }

  .m_center {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Grid */

.grid {
  margin-left: calc(-1 * $space3);
  display: flex;
  flex-wrap: wrap;
}

.grid > * {
  padding-left: $space3;
  width: 100%;
}

.grid-wide {
  margin-left: calc(-1 * $space5);
}

.grid-wide > * {
  padding-left: $space5;
}

.grid-flush {
  margin-left: 0;
}

.grid-flush > * {
  padding-left: 0;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666666%;
}

.col-12 {
  width: 100%;
}

@media only screen and (min-width: $breakpoint) {
  .m_grid {
    margin-left: calc(-1 * $space3);
    display: flex;
    flex-wrap: wrap;
  }

  .m_grid > * {
    padding-left: $space3;
    width: 100%;
  }

  .m_grid-wide {
    margin-left: calc(-1 * $space5);
  }

  .m_grid-wide > * {
    padding-left: $space5;
  }

  .m_grid-flush {
    margin-left: 0;
  }

  .m_grid-flush > * {
    padding-left: 0;
  }

  .m_col-1 {
    width: 8.333333%;
  }

  .m_col-2 {
    width: 16.666666%;
  }

  .m_col-3 {
    width: 25%;
  }

  .m_col-4 {
    width: 33.333333%;
  }

  .m_col-5 {
    width: 41.666666%;
  }

  .m_col-6 {
    width: 50%;
  }

  .m_col-7 {
    width: 58.333333%;
  }

  .m_col-8 {
    width: 66.666666%;
  }

  .m_col-9 {
    width: 75%;
  }

  .m_col-10 {
    width: 83.333333%;
  }

  .m_col-11 {
    width: 91.666666%;
  }

  .m_col-12 {
    width: 100%;
  }
}

/* Flexbox */

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.flex-1 {
  flex: 1 1 0;
  min-width: 0;
  min-height: 0;
}

.flex-2 {
  flex: 2 1 0;
  min-width: 0;
  min-height: 0;
}

.flex-3 {
  flex: 3 1 0;
  min-width: 0;
  min-height: 0;
}

.flex-none {
  flex: none;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-baseline {
  align-self: baseline;
}

.self-stretch {
  align-self: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-center {
  align-content: center;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

.content-stretch {
  align-content: stretch;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-last {
  order: 99999;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink-1 {
  flex-shrink: 1;
}
